<%= form_with model: @drink do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @drink.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% @drink.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :preparation %><br>
    <%= form.text_area :preparation %>
    <% @drink.errors.full_messages_for(:preparation).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
