<h1>Drinks#show</h1>

<h2><%= @drink.name %></h2>
<p><%= @drink.description %></p>
<p><%= @drink.preparation %></p>
<p><%= @drink.service.name %></p>
<p><%= @drink.drinkware.name %></p>
<p><%= @drink.drink_category.name %></p>

<ul>
  <li><%= link_to 'Edit', edit_drink_path(@drink) %></li>
  <li><%= link_to 'Destroy', drink_path(@drink), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
</ul>
