<h1><%= @drink.name %>
  <span class="small"><%= link_to 'Edit', edit_drink_path(@drink) %></span>
  <span class="small"><%= link_to 'Destroy', drink_path(@drink), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></span>
</h1>

<div class="section"><%= @drink.description %></div>

<div class="section">
  <div>Type: <%= @drink.drink_type.name %></div>
  <div>Served: <%= @drink.service.name %></div>
  <div>Standard drinkware: <%= @drink.drinkware.name %></div>
</div>

<div class="section">
  <div>Ingredients:</div>
  <ul>
    <% @drink_ingredients.each do |drink_ingredient| %>
      <li>
        <%= drink_ingredient.quantity.amount %> <%= drink_ingredient.unit.abbreviation %> <%= drink_ingredient.ingredient.name %>
      </li>
    <% end %>
  </ul>
</div>

<div class="section">Preparation: <%= @drink.preparation %></div>

<div class="section">All ingredients in stock: <%= @can_be_made %></div>
