<%= form_with model: @brand do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @brand.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% @brand.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :in_stock %><br>
    <%= form.check_box :in_stock %>
    <% @brand.errors.full_messages_for(:in_stock).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :ingredient_category_id %><br>
    <%= form.collection_select :ingredient_category_id, IngredientCategory.all, :id, :name, include_blank: true %>
    <% @brand.errors.full_messages_for(:ingredient_category_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :ingredient_type_id %><br>
    <%= form.collection_select :ingredient_type_id, IngredientType.all, :id, :name, include_blank: true %>
    <% @brand.errors.full_messages_for(:ingredient_type_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
