<h1>Drinks</h1>
<p><%= link_to "List Ingredient Categories", ingredient_categories_path %></p>
<p><%= link_to "New Ingredient Category", new_ingredient_category_path %></p>
<p><%= link_to "List Ingredient Types", ingredient_types_path %></p>
<p><%= link_to "New Ingredient Type", new_ingredient_type_path %></p>
<p><%= link_to "List Ingredients", ingredients_path %></p>
<p><%= link_to "New Ingredient", new_ingredient_path %></p>
