<%= form_with model: @drink_type do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @drink_type.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
