<!DOCTYPE html>
<html>
  <head>
    <title>Drinks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <div>
    <%= link_to 'Drinks', drinks_path %>
    <%= link_to 'Drink Types', drink_types_path %>
    <%= link_to 'Services', services_path %>
    <%= link_to 'Drinkwares', drinkwares_path %>
    <%= link_to 'Ingredient Types', ingredient_types_path %>
    <%= link_to 'Ingredients', ingredients_path %>
    <%= link_to 'Brands', brands_path %>
    <%= link_to 'Quantities', quantities_path %>
    <%= link_to 'Units', units_path %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
